.car {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    object-fit: cover;
  }
  
  .car-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .car h5{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 11rem;
    font-size: 3rem;
    text-transform: uppercase;
  }

  
  .car p{
    position: relative;
    z-index: 1; 
    color: white;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.8;
  }
  .car h4{
    top: 335.5px;
    left: 341px;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    color: white;
    font-weight: 300;
  }
  .car-video {
    object-fit: cover; /* Adjust the fit of the video */
  }
  